﻿@model IEnumerable<CarStation.Presentation.Models.Rent>
@{
    ViewBag.Title = "Zakupi";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".obrisi-Rent").click(function (e) {
            e.preventDefault();
            var zakupID = $(this).closest("tr")
                                   .find(".Rent-id")     
                                   .text();

            var zakupName = $(this).closest("tr")
                                   .find(".Rent-Name")
                                   .text();

            var potvrdaBrisanja = confirm("Da li ste sigurni da želite da obrišete zakup " + zakupName + " ?");
            if (potvrdaBrisanja == true) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Rent")",
                    data: "ID=" + zakupID,
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            alert(zakupName + " je uspješno obrisana");
                            location.reload();
                        }
                        else {
                            alert("Došlo je do greške prilikom brisanja zakupa " + zakupName);
                        }
                        
                    }
                });
            }
        });

        $(".promjeni-status").click(function (e) {
            var zakupID = $(this).closest("tr")
                                   .find(".Rent-id")
                                   .text();

            var zakupSifra = $(this).closest("tr")
                                   .find(".Rent-sifra")
                                   .text();

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateStatus", "Rent")",
                data: "ID=" + zakupID,
                success: function (rezultat) {
                    if (rezultat == "OK") {
                        alert("Rent " + zakupSifra + " je završen.");
                        location.reload();
                    }
                    else {
                        alert("Došlo je do greške prilikom mijenjanja statusa");
                    }

                }
            });
        });

        $("#datum-od").datepicker({
            dateFormat: "dd-mm-yy",
            onSelect: function (selected) {
                $("#datum-do").datepicker("option", "minDate", selected);

                $('#reset-filter').removeClass('hidden');

                $('#Rent-tabela tr').each(function () {
                    var datum;
                    if($('#tip-datuma').val() == 1)
                        datum = parseDate($(this).find(".datum-zakupa").text());
                    else
                        datum = parseDate($(this).find(".datum-povratka").text());

                    if (datum < $('#datum-od').datepicker("getDate") || datum > $('#datum-do').datepicker("getDate"))
                        $(this).hide();
                    else
                        $(this).show();
                });
            }
        });

        $("#datum-do").datepicker({
            dateFormat: "dd-mm-yy",
            onSelect: function (selected) {

                $("#datum-od").datepicker("option", "maxDate", selected);

                $('#reset-filter').removeClass('hidden');
                
                $('#Rent-tabela tr').each(function () {
                    var datum;
                    if ($('#tip-datuma').val() == 1)
                        datum = parseDate($(this).find(".datum-zakupa").text());
                    else
                        datum = parseDate($(this).find(".datum-povratka").text());

                    if (datum < $('#datum-od').datepicker("getDate") || datum > $('#datum-do').datepicker("getDate"))
                    {
                        $(this).hide();
                    }
                    else
                        $(this).show();
                        
                });
            }
        });

        $('#Rent-pretraga').on('keydown', function () {
            $('#reset-filter').removeClass('hidden');
            $('#Rent-tabela tr').each(function () {
                var pretraga = $('#Rent-pretraga').val();
                var sifra = $(this).find(".Rent-sifra").text();
                var filijala = $(this).find(".Rent-filijala").text();
                var klijent = $(this).find(".Rent-klijent").text();

                if (sifra.indexOf(pretraga.toUpperCase()) > -1 || filijala.toUpperCase().indexOf(pretraga.toUpperCase()) > -1 || klijent.toUpperCase().indexOf(pretraga.toUpperCase()) > -1) {
                    $(this).show();
                }
                else
                    $(this).hide();

            });
        });

        $('#reset-filter').click(function () {
            $('#datum-od').val("");
            $('#datum-do').val("");
            $('#Rent-pretraga').val("");
            $('#Rent-tabela tr').each(function () {
                $(this).show();
            });
            
            $('#reset-filter').addClass('hidden');
        });

        // parse a date in yyyy-mm-dd format
        function parseDate(input) {
            var parts = input.split('-');
            // new Date(year, month [, day [, hours[, minutes[, seconds[, ms]]]]])
            return new Date(parts[2], parts[1] - 1, parts[0]); // Note: months are 0-based
        }
    });
</script>

<div class="row">
    <div class="col-md-12">
        <div class="form-group clearfix">
            <div class="col-md-2">
                <label><i class="glyphicon glyphicon-calendar"></i> Datum</label>
                <select name="TipDatuma" id="tip-datuma" class="form-control">
                    <option value="1">Zakupa</option>
                    <option value="2">Povratka</option>
                </select>
            </div>
            <div class="col-md-3">
                <label><i class="glyphicon glyphicon-calendar"></i> Od</label>
                <input type="text" name="DatumOd" id="datum-od" class="form-control" />
            </div>
            <div class="col-md-3">
                <label><i class="glyphicon glyphicon-calendar"></i> Do</label>
                <input type="text" name="DatumDo" id="datum-do" class="form-control" />
            </div>
            <div class="col-md-2">
                <label><i class="glyphicon glyphicon-search"></i> Pretraga</label>
                <input type="text" name="Pretraga" id="Rent-pretraga" class="form-control" />
            </div>
            <div class="col-md-2">
                <label>&nbsp;</label>
                <button class="btn btn-danger form-control hidden" id="reset-filter"><i class="glyphicon glyphicon-trash"></i> Poništi</button>
            </div>
        </div>
    </div>
    <div class="col-md-12">
        <div class="form-group clearfix">
            
        </div>
    </div>
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Šifra</th>
                    <th>Klijent</th>
                    <th>Filijala</th>
                    <th>Vozilo</th>
                    <th>Datum zakupa</th>
                    <th>Datum povratka</th>
                    <th>Ukupna cijena</th>
                    <th>Status</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="Rent-tabela">
                @foreach (var Rent in Model)
                {
                    <tr>
                        <td class="hidden Rent-id">@Rent._id</td>
                        <td class="Rent-sifra">@Rent.RentNumber</td>
                        @if (!string.IsNullOrEmpty(Rent.Clientname))
                        {
                            <td class="Rent-klijent">@Rent.Clientname</td>
                        }
                        else
                        {
                            <td>-</td>
                        }
                        @if (!string.IsNullOrEmpty(Rent.BranchOffice))
                        {
                            <td class="Rent-filijala">@Rent.BranchOffice</td>
                        }
                        else
                        {
                            <td>-</td>
                        }
                        @if (!string.IsNullOrEmpty(Rent.VehicleName))
                        {
                            <td>@Rent.VehicleName</td>
                        }
                        else
                        {
                            <td>-</td>
                        }
                        <td class="datum-zakupa">@String.Format("{0:dd/MM/yyyy}", Rent.RentedFrom)</td>
                        <td class="datum-povratka">@String.Format("{0:dd/MM/yyyy}", Rent.RentedTo)</td>
                        <td>@Rent.TotalGrossAmount @Rent.Currency</td>
                        <td>@Rent.Status.ToString()</td>
                        <td>
                            @if (Rent.Status != CarStation.Domain.Models.Enums.RentStatus.Paid)
                            {
                                <a class="promjeni-status btn btn-success btn-sm" href="#"><i class="glyphicon glyphicon-ok"></i> Završi</a>
                            }
                            else
                            {
                                <a class="promjeni-status btn btn-default btn-sm disabled" href="#"><i class="glyphicon glyphicon-ok"></i> Završi</a>
                            }
                        </td>
                        <td>
                            <a class="btn btn-danger btn-sm obrisi-Rent" href="#"><i class="glyphicon glyphicon-remove"></i> Obriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>