﻿@model CarStation.Domain.Models.BranchOfficeDomainModel
@{
    ViewBag.Title = "Uredi filijalu";
}
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/helpers.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
       PorukeValidacija();

        $('#GradLista').select2({ placeholder: "Izaberite lokacija..." });
        $('#DrzavaLista').select2({ placeholder: "Izaberite državu..." });
        $('#ValutaLista').select2({ placeholder: "Izaberite valutu..." });

        $('#novi-Location').click(function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "@Url.Action("Create", "Location")",
                data: JSON.stringify({
                    isModal: true,
                    Name: $('#Location-Name').val(),
                    CountryId: $('#DrzavaLista').val(),
                    CurrencyId: $('#ValutaLista').val(),
                    Tax: $('#Tax').val()
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (rezultat) {
                    if (rezultat == "OK") {
                        location.reload();
                    }
                    else {
                        alert("Došlo je do greške prilikom čuvanja lokacije.");
                    }

                }
            });
        });

        $("#forma-filijala").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 2
                },
                Street: {
                    required: true,
                    minlength: 2
                },
                Telephone: {
                    required: true,
                    minlength: 6,
                    maxlength: 7,
                    digits: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });
    });

</script>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "BranchOffice", FormMethod.Post, new { @id = "forma-filijala" }))
        {
            @Html.ValidationSummary(true, "Čuvanje filijale nije uspjelo.");
            <div>
                @Html.HiddenFor(u => u._id)
                <fieldset>
                    <legend>Detalji filijale</legend>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Name</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Name, new {@class = "form-control", @readonly = ""})
                                @Html.ValidationMessageFor(u => u.Name, null, new {@class = "inline-help error"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Street</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Street, new {@class = "form-control"})
                                @Html.ValidationMessageFor(u => u.Street, null, new {@class = "inline-help error"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Location</label>
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(u => u.LocationId, (IEnumerable<SelectListItem>) ViewBag.Gradovi, new {@id = "GradLista", @class = "form-control"})
                                @Html.ValidationMessageFor(u => u.LocationId, null, new {@class = "inline-help error"})
                                <!-- Aktiviraj proizvođači modal -->
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#Location-modal">
                                    <i class="glyphicon glyphicon-plus"></i> Dodaj lokacija
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Broj telefona</label>
                            </div>
                            <div class="editor-field">
                                <i class="glyphicon glyphicon-phone"></i> <span id="pozivni-za-Location"></span>
                                @Html.TextBoxFor(u => u.Telephone, new {@class = "form-control", @type = "number"})
                                @Html.ValidationMessageFor(u => u.Telephone, null, new {@class = "inline-help error"})
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Sačuvaj"/>
                        @Html.ActionLink("Odustani", "Index", "BranchOffice", null, new {@class = "btn btn-default"})
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>

@*Modal lokacije*@
<div class="modal fade" id="Location-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Novi Location</h4>
            </div>
            <div class="modal-body">
                <form method="post" name="NoviGrad" id="forma-lokacije">
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Name</label>
                        </div>
                        <div class="editor-field">
                            <input type="text" name="Name" id="Location-Name" class="form-control"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Država</label>
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("CountryId", (IEnumerable<SelectListItem>)ViewBag.Drzave, new { @id = "DrzavaLista", @class = "form-control" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Valuta</label>
                        </div>
                        <div class="editor-field">
                            @Html.DropDownList("CurrencyId", (IEnumerable<SelectListItem>)ViewBag.Valute, new { @id = "ValutaLista", @class = "form-control" })
                            @Html.ValidationMessage("CurrencyId", null, new { @class = "inline-help error" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Porez (%)</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextBox("Tax", new { @class = "form-control", @type = "number" })
                            @Html.ValidationMessage("Tax", null, new { @class = "inline-help error" })
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                <button type="button" id="novi-Location" class="btn btn-primary">Sačuvaj</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
