﻿@model IEnumerable<CarStation.Presentation.Models.BranchOffice>
@{
    ViewBag.Title = "Filijale";
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".obrisi-filijalu").click(function (e) {
            e.preventDefault();
            var filijalaID = $(this).closest("tr")
                                   .find(".filijala-id")
                                   .text();

            var filijalaName = $(this).closest("tr")
                                   .find(".filijala-Name")
                                   .text();

            var potvrdaBrisanja = confirm("Da li ste sigurni da želite da obrišete filijalu " + filijalaName + " ?");
            if (potvrdaBrisanja == true) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "BranchOffice")",
                    data: "ID=" + filijalaID,
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            alert(filijalaName + " je uspješno obrisana");
                            location.reload();
                        }
                        else {
                            alert("Došlo je do greške prilikom brisanja filijale " + filijalaName);
                        }

                    }
                });
            }
        });
    });
</script>

<div class="panel-kontrole clearfix">
    <a class="btn btn-success" href="@Url.Action("Create", "BranchOffice")"><i class="glyphicon glyphicon-plus"></i> Nova filijala</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Street</th>
                    <th>Lokacija</th>
                    <th>Broj telefona</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="filijala-tabela">
                @foreach (var filijala in Model)
                {
                    <tr>
                        <td class="hidden filijala-id">@filijala._id</td>
                        <td class="filijala-Name">@filijala.Name</td>
                        <td>@filijala.Street</td>
                        <td>@filijala.LocationName</td>
                        <td>@filijala.Telephone</td>
                        <td>
                            <a class="btn btn-default btn-sm" href="@Url.Action("Edit", "BranchOffice", new { ID = filijala._id })"><i class="glyphicon glyphicon-edit"></i> Uredi</a>
                            <a class="btn btn-danger obrisi-filijalu btn-sm" href="#"><i class="glyphicon glyphicon-remove"></i> Obriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>