﻿@model CarStation.Domain.Models.VehicleModelDomainModel
@{
    ViewBag.Title = "Novi model vozila";
}
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/helpers.js"></script>

<script type="text/javascript">
    $(document).ready(function () {

        PorukeValidacija();

        $("#forma-model-vozila").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 2
                },
                Passengers: {
                    required: true,
                    number: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });

        $('#TipVozilaLista').select2({ placeholder: "Izaberite tip vozila..." });
        $('#ProizvodjacLista').select2({ placeholder: "Izaberite proizvodjaca..." });
        $('#TipGorivaLista').select2({ placeholder: "Izaberite tip goriva..." });

        $('#novi-proizvodjac').click(function (e) {
            e.preventDefault();

            $.ajax({
                type: "POST",
                url: "@Url.Action("Create", "Manufacturer")",
                data: JSON.stringify({
                    isModal: true,
                    Name: $('#proizvodjac-Name').val(),
                    Logo: $('#proizvodjac-logo').val()
                }),
                contentType: 'application/json; charset=utf-8',
                success: function (rezultat) {
                    if (rezultat == "OK") {
                        location.reload();
                    }
                    else {
                        alert("Došlo je do greške prilikom čuvanja proizvođača.");
                    }

                }
            });
        });
    });

</script>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "VehicleModel", FormMethod.Post, new { @id = "forma-model-vozila" }))
        {
            <span class="error">@Html.ValidationSummary(true, "Čuvanje modela vozila nije uspjelo.")</span>
            <div>
                <fieldset>
                    <legend>Detalji</legend>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Naziv</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Name, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                        <div class="form-group">
                                <label>@Html.CheckBoxFor(m => m.IsAutomatic) Automatik?</label>
                                @Html.ValidationMessageFor(u => u.IsAutomatic, null, new { @class = "inline-help error" })
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Broj osoba</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Passengers, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Passengers, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Proizvođač</label>
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(u => u.ManufacturerId, (IEnumerable<SelectListItem>)ViewBag.Proizvodjaci, new { @id = "ProizvodjacLista", @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.ManufacturerId, null, new { @class = "inline-help error" })
                                <!-- Aktiviraj proizvođači modal -->
                                <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#proizvodjac-modal">
                                    <i class="glyphicon glyphicon-plus"></i> Dodaj proizvođača
                                </button>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Tip vozila</label>
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(u => u.Type, (IEnumerable<SelectListItem>)ViewBag.TipoviVozila, new { @id = "TipVozilaLista", @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Type, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Tip goriva</label>
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(u => u.Fuel, (IEnumerable<SelectListItem>)ViewBag.TipoviGoriva, new { @id = "TipGorivaLista", @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Fuel, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Sačuvaj" />
                        @Html.ActionLink("Odustani", "Index", "Vehicle", null, new { @class = "btn btn-default" })
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>

@*Modal proizvođača*@
<div class="modal fade" id="proizvodjac-modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Novi proizvođač</h4>
            </div>
            <div class="modal-body">
                <form method="post" name="NoviProizvodjac" id="forma-proizvodjac">
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Naziv</label>
                        </div>
                        <div class="editor-field">
                            <input type="text" name="Name" id="proizvodjac-Name" class="form-control" />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Logo</label>
                        </div>
                        <div class="editor-field">
                            <input type="text" name="Logo" id="proizvodjac-logo" class="form-control" />
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Odustani</button>
                <button type="button" id="novi-proizvodjac" class="btn btn-primary">Sačuvaj</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->