﻿@model IEnumerable<CarStation.Presentation.Models.VehicleModel>
@{
    ViewBag.Title = "Modeli vozila";
    Layout = null;
}

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<script type="text/javascript">
    $(document).ready(function () {
        $(".obrisi-model-vozila").click(function (e) {
            e.preventDefault();
            var modelVozilaID = $(this).closest("tr")
                                   .find(".modelVozila-id")     
                                   .text();

            var modelVozilaName = $(this).closest("tr")
                                   .find(".modelVozila-Name")
                                   .text();

            var potvrdaBrisanja = confirm("Da li ste sigurni da želite da obrišete model vozila " + modelVozilaName + " ?");
            if (potvrdaBrisanja == true) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "VehicleModel")",
                    data: "ID=" + modelVozilaID,
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            alert(modelVozilaName + " je uspješno obrisan");
                            location.reload();
                        }
                        else {
                            alert("Došlo je do greške prilikom brisanja modela vozila " + modelVozilaName);
                        }
                        
                    }
                });
            }
        });
    });
</script>
<div class="panel-kontrole clearfix">
    <a class="btn btn-success" href="@Url.Action("Create", "VehicleModel")"><i class="glyphicon glyphicon-plus"></i> Novi model</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Naziv</th>
                    <th>Proizvođač</th>
                    <th>Transmisija</th>
                    <th>Tip vozila</th>
                    <th>Tip goriva</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="modelVozila-tabela">
                @if (Model != null && Model.Any())
                {
                    foreach (var modelVozila in Model)
                    {
                        <tr>
                            <td class="hidden modelVozila-id">@modelVozila._id</td>
                            <td class="modelVozila-Name">@modelVozila.Name</td>
                            <td>@modelVozila.Manufacturer</td>
                            <td>
                                @if (modelVozila.IsAutomatic)
                                {
                                    <text>Automatska</text>
                                }
                                else
                                {
                                    <text>Manuelna</text>
                                }
                            </td>
                            <td>@modelVozila.Type.ToString()</td>
                            <td>@modelVozila.Fuel.ToString()</td>
                            <td>
                                <a class="btn btn-default btn-sm" href="@Url.Action("Edit", "VehicleModel", new { ID = modelVozila._id })"><i class="glyphicon glyphicon-edit"></i> Uredi</a>
                                <a class="btn btn-danger btn-sm obrisi-model-vozila" href="#"><i class="glyphicon glyphicon-remove"></i> Obriši</a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>
    </div>
</div>