﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - RentACar</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.validate.min.js"></script>
    
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link href="~/Content/jquery-ui.min.css" rel="stylesheet"/>
    <link rel="shortcut icon" type="image/png" href="~/Content/images/favicon.png" />
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                    @if (!Request.IsAuthenticated)
                    {
                        @Html.ActionLink("RentACar", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
                    else
                    {
                        @Html.ActionLink("RentACar", "Dashboard", "Home", new { area = "" }, new { @class = "navbar-brand" })
                    }
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">         
                    @if (!Request.IsAuthenticated)
                    {
                        <li><a href="~/Home/Index"><i class="glyphicon glyphicon-home"></i></a></li>
                        <li>@Html.ActionLink("O nama", "About", "Home")</li>
                        <li>@Html.ActionLink("Kontakt", "Contact", "Home")</li>
                    }
                    else
                    {
                        <li><a href="~/Home/Index"><i class="glyphicon glyphicon-home"></i></a></li>
                        <li>@Html.ActionLink("Klijenti", "Index", "Client")</li>
                        <li>@Html.ActionLink("Filijale", "Index", "BranchOffice")</li>
                        <li>@Html.ActionLink("Lokacije", "Index", "Location")</li>
                        <li>@Html.ActionLink("Vozila", "Index", "Vehicle")</li>
                        <li>@Html.ActionLink("Zakupi", "Index", "Rent")</li>
                        
                    }
                </ul>
                @if (Request.IsAuthenticated)
                {
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="#">@User.Identity.Name</a></li>
                    <li>@Html.ActionLink("Odjavi se", "Logout", "User")</li>
                </ul>
                }
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - RentACar - Nikola Crnić</p>
        </footer>
    </div>
    
</body>
</html>
