﻿    @model CarStation.Domain.Models.ManufacturerDomainModel
@{
    ViewBag.Title = "Novi proizvođač";
}
<script type="text/javascript" src="~/Scripts/helpers.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        PorukeValidacija();

        $("#forma-proizvodjac").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 2
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });

        $("#FileUpload").on('change', function () {
            $('#Logo').val("~/Slike/Proizvodjaci/" + document.getElementById("FileUpload").files[0].name);
        });

        $("#sacuvaj-proizvodjaca").click(function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("FileUpload").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("FileUpload").files[i];

                formData.append("FileUpload", file);
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("SavePicture", "Manufacturer")',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (rezultat) {
               
                },
                error: function (error) {
                    alert("error");
                }
            });
        });
    });
</script>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "Manufacturer", FormMethod.Post, new { @id = "forma-proizvodjac" }))
        {
            @Html.ValidationSummary(true, "Čuvanje proizvođača nije uspjelo.");
            <div>
                <fieldset>
                    <legend>Detalji proizvođača</legend>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Name</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Name, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.Name, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Logo</label>
                            @Html.TextBoxFor(u => u.Logo, new { @class = "form-control", @type = "text", @readonly = "" }) &nbsp;
                            <input type="file" id="FileUpload" multiple />
                        </div>
                        
                    <div class="form-group">
                        <input class="btn btn-primary" id="sacuvaj-proizvodjaca" type="submit" value="Sačuvaj" />
                        @Html.ActionLink("Odustani", "Index", "Vehicle", null, new { @class = "btn btn-default", @id="odustani" })
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>
