﻿@model CarStation.Domain.Models.LocationDomainModel
@{
    ViewBag.Title = "Uredi Location";
}
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />
<script type="text/javascript" src="~/Scripts/helpers.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        PorukeValidacija();
        $('#DrzavaLista').select2({ placeholder: "Izaberite državu..." });
        $("#forma-Location").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 2
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });
    });
</script>


<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "Location", FormMethod.Post, new { @id = "forma-Location" }))
        {
            @Html.ValidationSummary(true, "Čuvanje lokacije nije uspjelo.");
            <div>
                @Html.HiddenFor(u => u._id)
                <fieldset>
                    <legend>Detalji lokacije</legend>
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Name</label>
                        </div>
                        <div class="editor-field">
                            @Html.TextBoxFor(u => u.Name, new {@class = "form-control", @readonly = ""})
                            @Html.ValidationMessageFor(u => u.Name, null, new {@class = "inline-help error"})
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="editor-label">
                            <label>Država</label>
                        </div>
                        <div class="editor-field">
                            @Html.DropDownListFor(u => u.CountryId, (IEnumerable<SelectListItem>) ViewBag.Drzave, new {@id = "DrzavaLista", @class = "form-control"})
                            @Html.ValidationMessageFor(u => u.CountryId, null, new {@class = "inline-help error"})
                        </div>
                    </div>

                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Sačuvaj"/>
                        @Html.ActionLink("Odustani", "Index", "Location", null, new {@class = "btn btn-default"})
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>
