﻿@model IEnumerable<CarStation.Presentation.Models.Location>
@{
    ViewBag.Title = "Lokacije";
}

<script type="text/javascript">
    $(document).ready(function () {

        $(".obrisi-Location").click(function (e) {
            e.preventDefault();
            var LocationId = $(this).closest("tr")
                                   .find(".Location-id")
                                   .text();
            var potvrdaBrisanja = confirm("Da li ste sigurni da želite da obrišete lokaciju?");
            if (potvrdaBrisanja == true) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Location")",
                    data: "ID=" + LocationId,
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            alert("lokacija je uspješno izbrisana.");
                            location.reload();
                        }
                        else {
                            alert("Došlo je do greške prilikom brisanja lokacije.");
                        }

                    }
                });
            }
        });
    });
</script>



<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="panel-kontrole clearfix">
    <a class="btn btn-success" href="@Url.Action("Create", "Location")"><i class="glyphicon glyphicon-plus"></i> Nova lokacija</a>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Lokacija</th>
                    <th>Država</th>
                    <th>Valuta</th>
                    <th>Porez (%)</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var Location in Model)
                {
                    <tr>
                        <td class="hidden Location-id">@Location._id</td>
                        <td>@Location.Name</td>
                        <td>@Location.Country</td>
                        <td>@Location.Currency</td>
                        <td>@Location.Tax</td>
                        <td><a class="btn btn-default btn-sm" href="@Url.Action("Edit", "Location", new { ID = Location._id })"><i class="glyphicon glyphicon-edit"></i> Uredi</a>
                            <a class="btn btn-danger btn-sm obrisi-Location" href="#"><i class="glyphicon glyphicon-remove"></i> Obriši</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>