﻿
@{
    ViewBag.Title = "Komandna tabla";
}
<script type="text/javascript" src="~/Scripts/canvasjs.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#brojac-vozila').text($('#broj-vozila').val());

        ukupno = 0;
        elementi = [{ label: "Januar", y: 0 },
                        { label: "Februar", y: 0 },
                        { label: "Mart", y: 0 },
                        { label: "April", y: 0 },
                        { label: "Maj", y: 0 },
                        { label: "Jun", y: 0 },
                        { label: "Jul", y: 0 },
                        { label: "Avgust", y: 0 },
                        { label: "Septembar", y: 0 },
                        { label: "Oktobar", y: 0 },
                        { label: "Novembar", y: 0 },
                        { label: "Decembar", y: 0 }];
        DohvatiMjesece();
        DohvatiPrometPoFilijalama();
        DohvatiTopVozila();
        DohvatiZakupeUProcesu();

        $('#broj-vozila').on('change', function () {
            $('#topvozila').empty();
            DohvatiTopVozila();
            $('#brojac-vozila').text($('#broj-vozila').val());
        });
    });

    function PromjeniStatus() {
        $(".promjeni-status").click(function () {
            var zakupID = $(this).closest("tr")
                                   .find(".Rent-id")
                                   .text();

            var zakupSifra = $(this).closest("tr")
                                   .find(".Rent-sifra")
                                   .text();

            $.ajax({
                type: "POST",
                url: "@Url.Action("UpdateStatus", "Rent")",
                data: "ID=" + zakupID + "&status=" + 3,
                success: function (rezultat) {
                    if (rezultat == "OK") {
                        alert("Zakup " + zakupSifra + " je završen.");
                        location.reload();
                    }
                    else {
                        alert("Došlo je do greške prilikom mijenjanja statusa");
                    }

                }
            });
        });
    }

    function DohvatiMjesece() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("RentStatistics", "Home")",
            success: function (rezultat) {
                for (var i = 0; i < rezultat.length; i++) {
                    elementi[i].y = rezultat[i];
                    ukupno += rezultat[i];
                }
                UcitajDijagram();
            }
        });
    }

    function DohvatiTopVozila() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("TopVehicles", "Vehicle")",
            data: "Number=" + $('#broj-vozila').val(),
            success: function (rezultat) {
                for (var i = 0; i < rezultat.length; i++) {
                    if (rezultat[i].Picture == null)
                        rezultat[i].Picture = '../Slike/bez-slike.png';
                    var vozilo = rezultat[i].Manufacturer + " " + rezultat[i].VehicleModel +
                        " (" + rezultat[i].YearOfProduction + ")" + " / " + rezultat[i].RegistrationNumber;
                    $('#topvozila').append('<li><img class="topvozila-slika" width="100" alt="' + rezultat[i].VehicleModel + '" src="'
                        + rezultat[i].Picture + '" />&nbsp;' + vozilo + '</li>');
                }

            }
        });
    }

    function DohvatiPrometPoFilijalama() {
        @*$.ajax({
            type: "GET",
            url: "@Url.Action("GetNumberOfRentsByBranchOffice", "BranchOffice")",
            success: function (rezultat) {
                for (var i = 0; i < rezultat.length; i++) {
                    var filijala = '<b style="color: #3C765E">' + rezultat[i].Name + '</b>' + ", " + rezultat[i].Street +
                        ", " + rezultat[i].LocationId + " ";
                    $('#promet-filijala').append('<li>' + filijala + '<br/> &nbsp; Broj zakupa: ' + rezultat[i].NumberOfRents +'</li>');
                }

            }
        });*@
    }

    function FormatDatuma(datum) {
        var dan = datum.getDate();
        var mjesec = datum.getMonth();
        var godina = datum.getFullYear();

        return dan + "/" + mjesec + "/" + godina;
    }

    function DohvatiZakupeUProcesu() {
        $.ajax({
            type: "GET",
            url: "@Url.Action("RentsInProcess", "Rent")",
            success: function (rezultat) {
                for (var i = 0; i < rezultat.length; i++) {
                    var datumZakupa = new Date(parseInt(rezultat[i].RentedFrom.substr(6)));
                    var datumPovratka = new Date(parseInt(rezultat[i].RentedTo.substr(6)));

                    $('#zakupi-u-procesu').append('<tr><td class="Rent-id hidden">' + rezultat[i]._id + '</td><td class="Rent-sifra">' + rezultat[i].RentNumber + '</td><td>' + FormatDatuma(datumZakupa) + '</td>\
                        <td>' + FormatDatuma(datumPovratka) + '</td><td>' + rezultat[i].TotalGrossAmount + ' KM' + '</td><td><button class="promjeni-status btn btn-success"><i class="glyphicon glyphicon-ok"></i> Završi</button></td></tr>');
                }
                PromjeniStatus();
            }
        });
    }

    function UcitajDijagram() {
        var chart = new CanvasJS.Chart("Rent-dijagram", {

            title: {
                text: "Zakupi po mjesecima"
            },
            data: [  //array of dataSeries
            { //dataSeries - first quarter
                /*** Change type "column" to "bar", "area", "line" or "pie"***/
                type: "line",
                name: "Mjesec",
                showInLegend: true,
                legendText: "Ukupno: " + ukupno.toString(),
                dataPoints: elementi
            }
            ]
        });

        chart.render();
    }
</script>
<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="col-md-12">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h3>Svi zakupi u @DateTime.Now.Year.</h3>
                </div>
                <div class="panel-body">
                    <div id="Rent-dijagram"></div>
                </div>
            </div>
        </div>
        <div class="col-md-12 margin-top-20">
            <div class="panel panel-danger">
                <div class="panel-heading"><h3>Aktuelni zakupi</h3></div>
                <div class="panel-body">
                    <table class="table table-hover table-responsive">
                        <thead>
                            <tr>
                                <th>Šifra</th>
                                <th>Datum zakupa</th>
                                <th>Datum povratka</th>
                                <th>Ukupno</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody id="zakupi-u-procesu"></tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-6 margin-top-20">
            <div class="panel panel-info">
                <div class="panel-heading"><h3>Top <span id="brojac-vozila"></span> vozila</h3></div>
                <div class="panel-body">

                    <div class="col-md-3 pull-right">
                        <select name="BrojVozila" id="broj-vozila" class="form-control">
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="col-md-12 margin-top-20">
                        <ol id="topvozila"></ol>
                    </div>
                </div>
            </div>
        </div>
        @*<div class="col-md-6 margin-top-20">
            <div class="panel panel-success">
                <div class="panel-heading"><h3>Promet po filijalama</h3></div>
                <div class="panel-body">
                    <ul id="promet-filijala"></ul>
                </div>
            </div>
        </div>*@
    </div>
</div>