﻿@model CarStation.Presentation.Models.Client


<script type="text/javascript">
    $(document).ready(function () {
        var klijentID = guid();
        var zakupID = guid();
        $('#postojeci-klijent-upit').click(function (e) {
            e.preventDefault();
            $.ajax({
                type: "GET",
                url: "@Url.Action("Details", "Client")",
                data: "Email=" + $('#Email').val(),
                success: function (rezultat) {
                    if (rezultat != "ERROR") {
                        $('#klijent-ime').val(rezultat.Name);
                        $('#klijent-brojLK').val(rezultat.IdentityCard);
                        $('#klijent-brojVD').val(rezultat.DrivingLicense);
                        $('#klijent-telefon').val(rezultat.Telephone);
                        $('#klijent-email').val(rezultat.Email);
                        $('#klijent-email').attr('readonly', 'readonly');
                        klijentID = rezultat._id;

                        $.ajax({
                            type: "GET",
                            url: "@Url.Action("GetAll", "Vehicle")",
                            contentType: 'application/json; charset=utf-8',
                            success: function (rezultat) {
                                $('#VoziloLista').select2({
                                    data: rezultat,
                                    placeholder: "Izaberite vozilo..."
                                });
                            }
                        });
                    }
                }
            });
        });

        $('#kreiraj-Rent').click(function (e) {
            e.preventDefault();

            var url = "@Url.Action("Create", "Rent")?Email=" + $('#Email').val();
            window.location.href = url;

        });
    });
</script>

<div class="form-group margin-top-20">
    <label>Email</label>
    @Html.TextBoxFor(u => u.Email, new { @class = "form-control"})
</div>
<div class="form-group">
    <button type="submit" id="kreiraj-Rent" class="btn btn-primary">Rezerviši</button>
</div>