﻿@model CarStation.Domain.Models.RentDomainModel

<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {

        $('#GradLista').select2({
            placeholder: "Izaberite lokaciju..."
        }).on("change", function () {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetByCity", "BranchOffice")",
                data: "ID=" + $("#GradLista").val(),
                contentType: 'application/json; charset=utf-8',
                success: function (rezultat) {
                    $('#FilijalaLista').empty();
                    $('#FilijalaLista').select2({ data: rezultat, placeholder: "Filijale..." });

                }
            });
        });

        $("#RentedFrom").datepicker({
            dateFormat: "dd-MM-yy",
            minDate: 'today',
            maxDate: "+90D",
            onSelect: function (selected) {
                $("#RentedTo").datepicker("option", "minDate", selected);
            }
        });

        $("#RentedTo").datepicker({
            dateFormat: "dd-MM-yy",
            minDate: 'today',
            maxDate: "+90D",
            onSelect: function (selected) {
                $("#RentedFrom").datepicker("option", "maxDate", selected);
            }
        });

        if ($('#GradLista').val() != "") {
            $.ajax({
                type: "GET",
                url: "@Url.Action("GetByCity", "BranchOffice")",
                data: "ID=" + $("#GradLista").val(),
                contentType: 'application/json; charset=utf-8',
                success: function (rezultat) {
                    if (rezultat.length > 0) {
                        $('#FilijalaLista').select2({ data: rezultat, placeholder: "Filijale..." });
                    }

                }
            });
        }

        $("#forma-pocetni-upit").validate({
            rules: {
                RentedFrom: {
                    required: true
                },
                RentedTo: {
                    required: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });
    });
    
</script>

@using (Html.BeginForm("Create", "Rent", FormMethod.Post, new { @id = "forma-pocetni-upit" }))
{
    @Html.ValidationSummary(true, "Rezervacija nije uspjela.");

        <fieldset class="margin-top-20">
            <div class="col-md-6">
                <div class="form-group">
                    <div class="editor-label">
                        <label class="standardni-font">Lokacija</label>
                    </div>
                    <div class="editor-field">
                        @Html.DropDownList("LocationId", (IEnumerable<SelectListItem>)ViewBag.Gradovi, new { @id = "GradLista", @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label">
                        <label class="standardni-font">Filijala</label>
                    </div>
                    <div class="editor-field">
                        <select id="FilijalaLista" class="form-control"></select>
                        @*@Html.DropDownListFor(u => u.FilijalaID, (IEnumerable<SelectListItem>)ViewBag.Gradovi, new { @class = "form-control" })*@
                        @Html.ValidationMessageFor(u => u.OfficeId, null, new { @class = "inline-help error" })
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <div class="editor-label">
                        <label class="standardni-font">Polazak</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(u => u.RentedFrom, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.RentedFrom, null, new { @class = "inline-help error" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="editor-label">
                        <label class="standardni-font">Povratak</label>
                    </div>
                    <div class="editor-field">
                        @Html.TextBoxFor(u => u.RentedTo, new { @class = "form-control" })
                        @Html.ValidationMessageFor(u => u.RentedTo, null, new { @class = "inline-help error" })
                    </div>
                </div>
            </div>
    </fieldset>
}
<div class="form-group">
    <input class="btn btn-primary" id="sacuvaj-pocetni-upit" value="Rezerviši" />
</div>