﻿@model CarStation.Domain.Models.ClientDomainModel
@{
    ViewBag.Title = "Novi klijent";
}

<script type="text/javascript" src="~/Scripts/helpers.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        PorukeValidacija();

        $("#forma-klijent").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 2
                },
                IdentityCard: {
                    required: true,
                    minlength: 9,
                    maxlength: 9
                },
                DrivingLicence: {
                    required: true,
                    minlength: 9,
                    maxlength: 9
                },
                Email: {
                    required: true,
                    email: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });
    });
</script>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Create", "Client", FormMethod.Post, new { @id="forma-klijent" }))
        {
            @Html.ValidationSummary(true, "Čuvanje klijenta nije uspjelo.");
            <div>
                <fieldset>
                    <legend>Detalji klijenta</legend>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Ime</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Name, new {@class = "form-control"})
                                @Html.ValidationMessageFor(u => u.Name, null, new {@class = "inline-help error"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Broj lične karte</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.IdentityCard, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.IdentityCard, null, new { @class = "inline-help error" })
                            </div>
                        </div>

                    </div>
                    <div class="col-md-6">
                        
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Broj vozačke dozvole</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.DrivingLicence, new { @class = "form-control" })
                                @Html.ValidationMessageFor(u => u.DrivingLicence, null, new { @class = "inline-help error" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Email</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Email, new {@class = "form-control", @type = "email"})
                                @Html.ValidationMessageFor(u => u.Email)
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Telefon</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Telephone, new { @class = "form-control", @type = "email" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Sačuvaj" />
                        @Html.ActionLink("Odustani", "Index", "Client", null, new { @class = "btn btn-default" })
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>
