﻿@model CarStation.Domain.Models.ClientDomainModel
@{
    ViewBag.Title = "Moj nalog";
}

<script type="text/javascript" src="~/Scripts/helpers.js"></script>
<script type="text/javascript">
    $(document).ready(function () {

        $('#prikazi-moje-zakupe').click(function () {
            $('#prikazi-moje-zakupe').addClass('active');
            $('#prikazi-moj-nalog').removeClass('active');

            $('#moji-zakupi').removeClass('hidden');
            $('#moj-nalog').addClass('hidden');
        });

        $('#prikazi-moj-nalog').click(function () {
            $('#prikazi-moje-zakupe').removeClass('active');
            $('#prikazi-moj-nalog').addClass('active');

            $('#moji-zakupi').addClass('hidden');
            $('#moj-nalog').removeClass('hidden');
        });

        PorukeValidacija();

        $("#forma-klijent").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 2
                },
                IdentityCard: {
                    required: true,
                    minlength: 9,
                    maxlength: 9
                },
                DrivingLicence: {
                    required: true,
                    minlength: 9,
                    maxlength: 9
                },
                Email: {
                    required: true,
                    email: true
                }
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });
    });
</script>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

@*<ul class="nav nav-tabs margin-top-20">
    <li class="active" id="prikazi-moj-nalog"><a href="#">Nalog</a></li>
    <li id="prikazi-moje-zakupe"><a href="#">Rezervacije</a></li>
    
</ul>*@

@*<div class="hidden" id="moji-zakupi">
    @{Html.RenderPartial("~/Views/Client/MyRents.cshtml");}
</div>*@
<div id="moj-nalog" class="margin-top-20">
    <div class="row">
        <div class="col-md-12">
            @using (Html.BeginForm("Edit", "Client", FormMethod.Post, new { @id = "forma-klijent" }))
            {
                @Html.ValidationSummary(true, "Ažuriranje klijenta nije uspjelo.");
                        <fieldset>
                            <legend>Detalji naloga</legend>
                            <div class="col-md-6">
                                @Html.HiddenFor(u => u._id)
                                <div class="form-group">
                                    <div class="editor-label">
                                        <label>Ime</label>
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(u => u.Name, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(u => u.Name, null, new { @class = "inline-help error" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="editor-label">
                                        <label>Broj telefona</label>
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(u => u.Telephone, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(u => u.Telephone, null, new { @class = "inline-help error" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <div class="editor-label">
                                        <label>Broj lične karte</label>
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(u => u.IdentityCard, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(u => u.IdentityCard, null, new { @class = "inline-help error" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="editor-label">
                                        <label>Broj vozačke dozvole</label>
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(u => u.DrivingLicence, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(u => u.DrivingLicence, null, new { @class = "inline-help error" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="editor-label">
                                        <label>Email</label>
                                    </div>
                                    <div class="editor-field">
                                        @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @type = "email", @readonly = "" })
                                        @Html.ValidationMessageFor(u => u.Email)
                                    </div>
                                </div>
                                
                            </div>
                            <div class="form-group">
                                <input class="btn btn-primary" type="submit" value="Sačuvaj" />
                                @Html.ActionLink("Odustani", "Index", "Home", null, new { @class = "btn btn-default" })
                            </div>
                        </fieldset>
            }
        </div>
    </div>
</div>
