﻿@model IEnumerable<CarStation.Presentation.Models.Client>
@{
    ViewBag.Title = "Klijenti";
}

<script type="text/javascript">
    $(document).ready(function () {

        $(".obrisi-klijenta").click(function (e) {
            e.preventDefault();
            var klijentID = $(this).closest("tr")
                                   .find(".klijent-id")
                                   .text();

            var potvrdaBrisanja = confirm("Da li ste sigurni da želite da obrišete klijenta?");
            if (potvrdaBrisanja == true) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Client")",
                    data: "ID=" + klijentID,
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            alert("Klijent je uspješno izbrisan.");
                            location.reload();
                        }
                        else {
                            alert("Došlo je do greške prilikom brisanja klijenta.");
                        }

                    }
                });
            }
        });
    });
</script>



<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th>Ime</th>
                    <th>Broj lične karte</th>
                    <th>Broj vozačke dozvole</th>
                    <th>Email</th>
                    <th>Telephone</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var klijent in Model)
                {
                    <tr>
                        <td class="hidden klijent-id">@klijent._id</td>
                        <td>@klijent.Name</td>
                        <td>@klijent.IdentityCard</td>
                        <td>@klijent.DrivingLicence</td>
                        <td>@klijent.Email</td>
                        <td>@klijent.Telephone</td>
                        <td><a class="btn btn-danger obrisi-klijenta btn-sm" href="#"><i class="glyphicon glyphicon-remove"></i> Obriši</a></td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>