﻿
@{
    ViewBag.Title = "MojiZakupi";
}

<div class="row">
    <div class="col-md-12">
        <h3>Lista rezervacija</h3>
        @foreach (var Rent in ViewBag.Zakupi)
        {
            <ul>
                <li>Filijala: @Rent.Filijala.Name</li>
                <li>Vozilo: @Rent.Vozilo.ModelVozila.Proizvodjac.Name @Rent.Vozilo.ModelVozila.Name (@Rent.Vozilo.GodinaProizvodnje)</li>
                <li>Datum rezervacije: @String.Format("{0:dd/MM/yyyy}", Rent.DatumZakupa)</li>
                <li>Datum povratka: @String.Format("{0:dd/MM/yyyy}", Rent.DatumPovratka)</li>
                <li>Status: @Rent.ZakupStatu.Name</li>
                <li>Ukupno za uplatu: @Rent.Ukupno</li>
            </ul>
        }
    </div>
</div>



