﻿@model CarStation.Domain.Models.VehicleDomainModel
@{
    ViewBag.Title = "Uredi vozilo";
}
<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<link href="~/Content/select2.min.css" rel="stylesheet" />

<script type="text/javascript" src="~/Scripts/select2.min.js"></script>
<script src="~/Scripts/jQuery-File-Upload-9.11.0/js/vendor/jquery.ui.widget.js"></script>
<script src="~/Scripts/jQuery-File-Upload-9.11.0/js/jquery.iframe-transport.js"></script>
<script type="text/javascript" src="~/Scripts/jQuery-File-Upload-9.11.0/js/jquery.fileupload.js"></script>
<script src="~/Scripts/spectrum.js"></script>
<script type="text/javascript" src="~/Scripts/helpers.js"></script>

<link href="~/Content/select2.min.css" rel="stylesheet" />
<link href="~/Scripts/spectrum.css" rel="stylesheet" />

<script type="text/javascript">
    $(document).ready(function () {

        PorukeValidacija();

        $("#forma-vozilo").validate({
            rules: {
                Name: {
                    required: true,
                    minlength: 2
                },
                YearOfProduction: {
                    required: true,
                    min: 1990,
                    number: true
                },
                PricePerDay: {
                    required: true,
                    max: 1000000,
                    number: true
                },
                RegistrationNumber: {
                    required: true,
                    minlength: 7,
                    maxlength: 7
                },
            },
            highlight: function (element) {
                $(element).closest('.form-group').addClass('has-error');
            },
            unhighlight: function (element) {
                $(element).closest('.form-group').removeClass('has-error');
            }
        });

        $('#FilijalaLista').select2({ placeholder: "Izaberite filijalu..." });
        $('#ModelVozilaLista').select2({ placeholder: "Izaberite model vozila..." });

        $('#Color').spectrum({ preferredFormat: "hex" });

        $("#FileUpload").on('change', function () {
            $('#Slika').val("../Slike/Vozila/" + document.getElementById("FileUpload").files[0].name);
        });

        $("#sacuvaj-vozilo").on("click", function () {
            var formData = new FormData();
            var totalFiles = document.getElementById("FileUpload").files.length;
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("FileUpload").files[i];

                formData.append("FileUpload", file);
            }
            $.ajax({
                type: "POST",
                url: '@Url.Action("SavePicture", "Vehicle")',
                data: formData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (rezultat) {
                    if (rezultat != "ERROR") {
                        $('#Slika').val(rezultat);
                    }

                },
                error: function (error) {
                    alert("error");
                }
            });
        });
    });

</script>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>

<div class="row">
    <div class="col-md-12">
        @using (Html.BeginForm("Edit", "Vehicle", FormMethod.Post, new { @id = "forma-vozilo" }))
        {
            @Html.ValidationSummary(true, "Čuvanje vozila nije uspjelo.");
            <div>
                @Html.HiddenFor(u => u._id)
                <fieldset>
                    <legend>Detalji vozila</legend>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Registarski broj</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.RegistrationNumber, new {@class = "form-control", @readonly = ""})
                                @Html.ValidationMessageFor(u => u.RegistrationNumber, null, new {@class = "inline-help error"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Boja</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.Color, new {@class = "form-control"})
                                @Html.ValidationMessageFor(u => u.Color, null, new {@class = "inline-help error"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Godina proizvodnje</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.YearOfProduction, new {@class = "form-control"})
                                @Html.ValidationMessageFor(u => u.YearOfProduction, null, new {@class = "inline-help error"})
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Model vozila</label>
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(u => u.VehicleModelId, (IEnumerable<SelectListItem>) ViewBag.ModeliVozila, new {@id = "ModelVozilaLista", @class = "form-control"})
                                @Html.ValidationMessageFor(u => u.VehicleModelId, null, new {@class = "inline-help error"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Filijala</label>
                            </div>
                            <div class="editor-field">
                                @Html.DropDownListFor(u => u.BranchOfficeId, (IEnumerable<SelectListItem>) ViewBag.Filijale, new {@id = "FilijalaLista", @class = "form-control"})
                                @Html.ValidationMessageFor(u => u.BranchOfficeId, null, new {@class = "inline-help error"})
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="editor-label">
                                <label>Cijena po danu</label>
                            </div>
                            <div class="editor-field">
                                @Html.TextBoxFor(u => u.PricePerDay, new {@class = "form-control"})
                                @Html.ValidationMessageFor(u => u.PricePerDay, null, new {@class = "inline-help error"})
                            </div>
                        </div>
                        <div class="form-group">
                            <label>Slika vozila</label>
                            @Html.TextBoxFor(u => u.Picture, new {@class = "form-control", @type = "text", @readonly = ""}) &nbsp;
                            <input type="file" id="FileUpload" multiple/>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" id="sacuvaj-vozilo" type="submit" value="Sačuvaj"/>
                        @Html.ActionLink("Odustani", "Index", "Vehicle", null, new {@class = "btn btn-default", @id = "odustani"})
                    </div>
                </fieldset>
            </div>
        }
    </div>
</div>
