﻿@model IEnumerable<CarStation.Presentation.Models.Vehicle>
@{
    ViewBag.Title = "Vozila";
    Layout = null;
}

<script type="text/javascript">
    $(document).ready(function () {
        $(".obrisi-vozilo").click(function (e) {
            e.preventDefault();
            var voziloID = $(this).closest("tr")
                                   .find(".vozilo-id")
                                   .text();

            var voziloRegistracija = $(this).closest("tr")
                                   .find(".vozilo-Name")
                                   .text();

            var potvrdaBrisanja = confirm("Da li ste sigurni da želite da obrišete vozilo " + voziloRegistracija + " ?");
            if (potvrdaBrisanja == true) {
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("Delete", "Vehicle")",
                    data: "ID=" + voziloID,
                    success: function (rezultat) {
                        if (rezultat == "OK") {
                            alert("Vozilo" + voziloRegistracija + " je uspješno obrisano.");
                            location.reload();
                        }
                        else {
                            alert("Došlo je do greške prilikom brisanja vozila " + voziloRegistracija);
                        }

                    }
                });
            }
        });

        $(".topvozila-slika").on("error", function () {
            console.log('error slika');
            $(this).attr('src', '../Slike/bez-slike.png');
        });
    });
</script>

<div class="page-header">
    <h1>@ViewBag.Title</h1>
</div>
<div class="panel-kontrole clearfix">
    <a class="btn btn-success" href="@Url.Action("Create", "Vehicle")"><i class="glyphicon glyphicon-plus"></i> Novo vozilo</a>
</div>
<div class="row">
    <div class="col-md-12">
        <table class="table table-hover table-responsive">
            <thead>
                <tr>
                    <th></th>
                    <th>Registarski broj</th>
                    <th>Boja</th>
                    <th>Model</th>
                    <th>Godina proizvodnje</th>
                    <th>Proizvođač</th>
                    <th>Cijena po danu</th>
                    <th>Filijala</th>
                    <th></th>
                </tr>
            </thead>
            <tbody id="filijala-tabela">
                @foreach (var vozilo in Model)
                {
                    <tr>
                        <td class="hidden vozilo-id">@vozilo._id</td>
                        <td><img src="@vozilo.Picture" alt="@vozilo.VehicleModel" width="150" class="topvozila-slika" /></td>
                        <td class="vozilo-registracija">@vozilo.RegistrationNumber</td>
                        <td><span style="background-color: @vozilo.Color;" class="vozilo-boja"></span></td>
                        <td>@vozilo.VehicleModel</td>
                        <td>@vozilo.YearOfProduction</td>
                        <td>@vozilo.Manufacturer</td>
                        <td>@vozilo.PricePerDay (@vozilo.Currency)</td>
                        <td>@vozilo.BranchOffice</td>
                        <td>
                            <a class="btn btn-default btn-sm" href="@Url.Action("Edit", "Vehicle", new { ID = vozilo._id })"><i class="glyphicon glyphicon-edit"></i> Uredi</a>
                            <a class="btn btn-danger btn-sm obrisi-vozilo" href="#"><i class="glyphicon glyphicon-remove"></i> Obriši</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

